$buttonColor: rgb(64, 52, 50);
$disabledColor: rgb(193, 180, 177);
$mobile-max-breakpoint: 767px;

@mixin buttonSettings {
  margin-left: -1.82%;
  margin-top: 17%;
  width: 87.1px;
  height: 35.2px;
  padding-top: 9%;
  font-size: 11.5px;
}

.input {
  outline: none;
  font-family: inherit;
  font-size: 13px;
  padding-left: 11px;
  padding-right: 12px;
  width: 216.2px;
  height: 31px;
  background-color: initial;
  border: 1px solid rgba(225, 225, 225, 1);
  border-right: 0;
}
.input::placeholder {
  color: rgba(159, 159, 159, 1);
}
.input:focus {
  border: 1px solid rgb(181, 181, 181);
  border-right: 0;
}
.button {
  outline: none;
  cursor: pointer;
  color: rgba(244, 246, 249, 1);
  border: 0;
  font-weight: 700;
  font-size: 12px;
  background-color: $buttonColor;
  padding: 10px;
  width: 98.3px;
  height: 35px;
}
.button.buy {
  @include buttonSettings();
}
.button.progress {
  background-color: $disabledColor;
  @include buttonSettings();
  text-align: end;
  padding-right: 10%;
}
.button.basket {
  background-color: rgb(91, 58, 50);
  @include buttonSettings();
  text-align: end;
  padding-right: 7%;
}
.button:hover {
  background-color: rgb(119, 103, 99);
}
.button.progress:hover {
  background-color: $disabledColor;
  cursor: auto;
}
.button:disabled {
  background-color: $disabledColor;
}
.button:active {
  background-color: $buttonColor;
}
.checkmark {
  position: absolute;
  margin-left: -8%;
  margin-top: 1%;
  width: 13px;
  height: 10px;
}
.loader {
  position: absolute;
  margin-left: -11.5%;
  width: 22.5px;
  height: 13px;
  animation: App-logo-spin infinite 0.8s linear;
  opacity: 0.9;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: $mobile-max-breakpoint) {
  @mixin button-settings {
    margin: 5% 25.5%;
    padding: 10px;
    width: 100px;
    height: 45px;
    font-size: 13px;
  }
  .button.buy {
    @include button-settings();
  }
  .button.progress {
    @include button-settings();
    padding-right: 7%;
  }
  .button.basket {
    @include button-settings();
  }
  .checkmark {
    margin-left: -5%;
    margin-top: 0.5%;
  }
  .loader {
    margin-left: -7%;
  }
  .button:active {
    background-color: rgb(119, 103, 99);
  }
}
